
html {
	background-color: #efefef;
	font-family: sans;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	padding: 20px;
}

h1 {
	font-size: 4.8em;
	color: #234567;
	font-weight: bold;
}

h2 {
	font-size: 3.6em;
	color: #345678;
	font-weight: bold;
}

p {
	font-size: 1.4em;
}

ul, ol {
	font-size: 1.4em;
}

label {
	font-size: 1.6em;
}
